[user]
	name = Bayram Kiran
	email = bayram.kiran@scout24.com
[core]
	excludesfile = /Users/bkiran/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
	b = branch
	ch = checkout
	s = status
	a = add
	aa = add -A
	c = commit
	f = fetch
	r = rebase
	ri = rebase -i
	del = "!f() { git b -d \"$1\" ; git push origin --delete \"$1\"; }; f"
	puf = push --force-with-lease
	pushup = push --set-upstream origin HEAD
	l = log --graph --oneline
	refresh = !git stash && git ch master && git pull
	refresh-fork = !git stash && git ch master && git f upstream && git r upstream/master && git puf
